@import "tailwindcss";

.hide_scroll {
  overflow: auto; /* ya scroll, agar force scroll chahiye */
  scrollbar-width: none; /* Firefox ke liye */
}
@media (max-width: 950px) {
  .icons_div {
    display: none;
  }
}
